p {
  font-family: sans-serif; 
}

ul.list {
  font-family: sans-serif; 
}

ol.code {
  font-size:16px;
  font-family:monospace; 
}

.code { 
  background-color: #E0E0E0;
  color: #000000; 
  font-family:monospace; 
  padding: 10px 20px;
}

.icode { 
#  background-color: #E0E0E0;
  font-size:16px;
  font-family:monospace; 
}

table {
  margin: 10px 20px;
}

td {
  padding: 0px 10px;
}
